<robot name="root">
  <link name="link_rock25_convex_piece_0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.72E+06"/>
      <inertia ixx="3.76E+09" ixy="-4.85E+08" ixz="1.31E+09" iyy="4.29E+09" iyz="9.45E+08" izz="3.95E+09"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="rock25_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="rock25_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
    </collision>
  </link>
</robot>
